<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MoviesFlix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header class="navbar">
    <div class="logo">MoviesFlix</div>
    <div class="user">Welcome!</div>
</header>

{% block content %}{% endblock %}

<!-- JS -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
